@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear {
  display: block; /* Assure que l'élément est visible */
  background-repeat: no-repeat; /* Supprime les répétitions */
  background-size: contain; /* Ajuste la taille du SVG à l'élément */
  background-position: center; /* Centre l'image */
  border: 1px solid #ccc; /* Ligne pour visualiser la bordure */
}