@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear {
  display: block;
  position : absolute;
  isolation: isolate;
  background: var(--gear-shadow) no-repeat center;
  
}

